"*":
  Termrk:
    defaultHeight: 255
  "autocomplete-plus":
    enableAutoActivation: false
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "vim-mode"
      "Termrk"
      "term"
    ]
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    invisibles: {}
    scrollSensitivity: 50
    showIndentGuide: true
    softTabs: false
    softWrap: true
  "exception-reporting":
    userId: "d1097b79-5d80-4ef8-d849-fb1769625930"
  "linter-lua": {}
  welcome:
    showOnStartup: false
