"*":
  Termrk:
    defaultHeight: 255
  "autocomplete-plus":
    enableAutoActivation: false
  "autocomplete-python":
    extraPaths: "$PROJECT/python/lib/python2.7/site-packages"
    pythonPaths: "$PROJECT/python/bin/python;/usr/bin/python"
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "vim-mode"
      "Termrk"
      "term"
    ]
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    invisibles: {}
    scrollSensitivity: 50
    showIndentGuide: true
    softTabs: false
    softWrap: true
  "exception-reporting":
    userId: "d1097b79-5d80-4ef8-d849-fb1769625930"
  "linter-lua": {}
  "linter-pep8":
    maxLineLength: 100
  welcome:
    showOnStartup: false
".python.source":
  editor:
    showInvisibles: true
