"*":
  Termrk:
    defaultHeight: 255
  "autocomplete-plus":
    enableAutoActivation: false
  "autocomplete-python":
    extraPaths: "$PROJECT/python/lib/python2.7/site-packages"
    pythonPaths: "$PROJECT/python/bin/python;/usr/bin/python"
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "Termrk"
      "term"
      "linter-pep8"
      "linter-pylama"
    ]
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    invisibles: {}
    scrollSensitivity: 50
    showIndentGuide: true
    softTabs: false
    softWrap: true
  "exception-reporting":
    userId: "d1097b79-5d80-4ef8-d849-fb1769625930"
  linter:
    ignoreVCSIgnoredFiles: false
  "linter-eslint":
    disableWhenNoEslintConfig: false
    eslintrcPath: "$HOME/.eslintrc"
    globalNodePath: "/usr"
    useGlobalEslint: true
  "linter-lua": {}
  "linter-pep8":
    maxLineLength: 100
  "linter-pylama":
    ignoreErrorsAndWarnings: "D103,D401,W0612"
    usePylint: true
  "linter-pylint": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode":
    startInInsertMode: true
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
".python.source":
  editor:
    showInvisibles: true
